.modal
  %h2 About Totally Book Reviews
  %p
    Totally Book Reviews (TBR) is a book exploration service built around
    the book component of Amazon.
  %p
    You can search for books by title or author or any other keywords and
    TBR will provide you with a list of the closest matches.
  %p
    Selecting a book from your search results will provide you with access
    to that book's description, readers' reviews, other titles by the same
    author, and a selection of up to ten similar titles that you might want
    to explore.
  %p
    For your convenience, TBR maintains a history of the books that you have
    investigated, so that you can easily return to them later.
  %p
    This is a fledgling service, and we'd love to hear of any improvements
    that we can make to the site to make exploring books better for you.
    There is a link at the bottom of the page where you can add your
    suggestions.
  %p
    Totally Book Reviews is a participant in the Amazon EU Associates Programme,
    an affiliate advertising programme designed to provide a means for sites to
    earn advertising fees by advertising and linking to amazon.co.uk.
