%section.float_right{style: "width: 28%;"}

  %a{class: 'amazon_buy', target: '_blank', href: "#{@book.amazon_url}"}
    %img.amazon_button{src: "/images/amazon/buy6.gif", alt: "#{@book.title}"}
  %ul
    %li
      Format:
      = (@book.type == '') ? 'Not available' : @book.type
    %li
      Price:
      = (@book.get_display_price == '') ? 'Not available' : @book.get_display_price
    %li
      Number of pages:
      = @book.page_count
    %li
      Published:
      = @book.pub_date

%section.float_left
  %a{class: 'amazon_buy', target: '_blank', href: "#{@book.amazon_url}"}
    %img.padding_tlbr{src: "#{@book.image}", alt: "#{@book.title}"}

%h3.padding_tlbr
  = @book['title'].length > 85 ? @book['title'][0..84] + '...' : @book['title'][0..84]

%h3 #{@book.authors[0]}
- if ! home_page
  %h3.padding_tlbr <g:plusone></g:plusone>

.clear
