- disqus_shortname = '<your disqus short name>'
- disqus_identifier = @book[:title][0..50]
- disqus_url = url("/book/#{@book[:asin]}")
#disqus_thread
:javascript
  var disqus_shortname = '#{disqus_shortname}';
  var disqus_identifier = '#{disqus_identifier}';
  var disqus_url = '#{disqus_url}';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
%noscript
  Please enable JavaScript to view the
  %a(href = "http://disqus.com/?ref_noscript")comments powered by Disqus.
