- search.each do |book|
  %li<
    %a{href: url("/book/#{book[:asin]}")}<
      = book[:title].length > 45 ? book[:title][0..44] + '...' : book[:title][0..44]
      %br>
      by #{book[:authors][0]}
