:javascript
  $(function() {
    $("#reviews_label").click(function () { $("#reviews_iframe").attr('src', '#{@book.reviews_url}') });
    $("#author_label").one("click", {page: 1}, authors_books)
    $("#more").on("click", {page: 2}, authors_books)
  })

  function authors_books(event) {
    $.getJSON("/api/author/" + "#{@book.authors[0]}".replace(/\//g, ' ') + "/page/" + event.data.page, function(data) {
      result = ''
      $.each(data.books, function() {
        result += '<li><a href="/book/' + this.asin + '">' + this.title.substring(0, 50)
        if (this.author != null) {
          result += ' by ' + '<span class="author">' + this.author + '</span>'
        }
        result += ' (<em>' + this.binding + '</em>)</a></li>'
      })
      $("#books").append(result)
      if (data.total_pages > event.data.page) {
        event.data.page += 1
        $("#more").show()
      } else {
        $("#more").hide()
      }
    })
  }

%section.search_results
  %h2 Search results
  %ol#search_results.results
    = partial :_search_results, :locals => { search: search }

%section.book
  %h2 Book details
  %ul.tabs#booktabs
    %li<
      %a#details_label{href: url("#detail_tab")} Description
    %li<
      %a#reviews_label{href: url("#reviews_tab")} Readers' reviews
    %li<
      %a#author_label{href: url("#author_tab")} This author's books
    %li<
      %a#history_label{href: url("#history_tab")} Your viewing history
  .panes#bookinfo
    #detail_tab
      = partial :_book_details, :locals => { home_page: home_page }
      %article.book_suggestions
        %h2 Similar
        %ol#suggestions.results
          - @book.suggested.each do |book|
            %li<
              %a{href: url("/book/#{book['asin']}")}<
                = book['title'].length > 45 ? book['title'][0..44] + '...' : book['title'][0..44]
                %br>
                = book['authors'][0]
      %article.book_description
        = Sanitize.clean(@book.description, Sanitize::Config::BASIC)
        = partial :_disqus
      .clear
    #reviews_tab
      = partial :_book_details, :locals => { home_page: home_page }
      %section.amazon_iframe
        %iframe#reviews_iframe
    #author_tab
      %h3.padding_tlbr #{@book.authors[0]}
      %article#author_data
        %ol.results#books
        #more
          %a{href: "#footer"} more...
    #history_tab
      %h3.padding_tlbr Your viewing history
      %article#history_data
        %ol#history.results
          - history.each do |asin, book|
            %li<
              %a{href: url("/book/#{book[:asin]}"), title: book[:title]}<
                = book[:title][0..50]
                by
                %span.author
                  = book[:authors][0]
        .clear_history
          %a{href: "#"} clear history

%section.local_google_ads
  %h2 &nbsp;
  :javascript
    google_ad_client = "<your google adsense key>";
    /* books */
    google_ad_slot = "<provided by google>";
    google_ad_width = 160;
    google_ad_height = 600;
  %script{src: "http://pagead2.googlesyndication.com/pagead/show_ads.js", type: "text/javascript"}
