!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    - if @book
      %meta{property: "og:title", content: "#{@book.title}"}
      %meta{property: "og:image", content: "#{@book.image}"}
      %meta{property: "og:description", content: "#{Sanitize.clean(@book.description, Sanitize::Config::RESTRICTED)}"}
      - if home_page
        %title We're totally all about book reviews
      -else
        %title #{@book.title} (#{@book.type}/#{@book.asin})
    - else
      %title
        #{params[:asin]} not found
    %link{rel: 'icon', href: url('/favicon.ico'), type: 'image/x-icon'}
    %link{rel: 'stylesheet', type: 'text/css', href: url('/css/styles.css'), media: 'screen'}
    %script{src: url('/js/main.js')}
    %script{src: url('/js/jquery-1.7.1.min.js')}
    %script{src: url('/js/jquery-tools.min.js')}
    :javascript
      $(function() {
        $("#booktabs").tabs("#bookinfo > div");
        $(".clear_history").on("click", clear_history)
        $("#search").submit(function(event) { stopEvent(event); search() })
        $("#about").on("click", function() { $(".modal").overlay().load(); });
        $(".modal").overlay({ mask: { color: '#ebecff', loadSpeed: 200, opacity: 0.9 } })
      })
    = partial :_google_analytics
  %body
    #wrapper
      %header
        %a#site_title{href: url('/')}
          %h1 Totally book reviews
        %form#search.search.form-search
          %input.input-medium.search-query{name: "keywords", type: "text"}
          %button.btn{type: "submit"} Search
      ~yield
    .clearfooter
    %footer#footer
      = partial :_about
      %nav
        %ul
          %li<
            %a#about{href: '#about'} about us
          %li<
            %a{href: 'http://example.uservoice.com/', target: '_blank'} suggestions
          %li<
            %a{href: 'mailto:contact@example.com?subject=Book%20enquiry'} email
      %section#copyright
        &copy;
        = Time.now.year
        auxbuss
