%section.search_results
  %h2 Search results
  %ol#search_results.results
    = partial :_search_results, :locals => { search: search }

%section.book
  %h2 Book details
  %ul.tabs#booktabs
    %li<
      %a{id: :details_label, href: url("#detail_tab")} Description
    %li<
      %a{id: :history_label,  href: url("#history_tab")} History
  .panes#bookinfo
    #detail_tab
      %article{style: "clear: both; padding: 0 10px 15px 10px;"}
        %p{style: "padding-top: 10px;"} This book is currently unavailable.
        %p
          %a{href: '#', onclick: "history.back(); return false;"} Go back
    #history_tab
      %section
        %h3.padding_tlbr History & saves
        %article#history_data
          %ol#history.results
            - history.each do |asin, book|
              %li<
                %a{href: url("/book/#{book[:asin]}"), title: book[:title]}<
                  = book[:title][0..50]
                  by
                  %span.author
                    = book[:authors][0]
          .clear_history
            %a{href: "#"} clear history
