/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*	font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*reset end*/

html{
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: white;
  color: #575757;
  width: 100%;
  height: 100%;
  line-height: 1.3;
}

header {
  height: 45px;
  color: white;
  background: black;
  background: -webkit-gradient( linear, left top, left bottom, from(#666), to(#222));
  background: -moz-linear-gradient(top, #666, #222); 
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

a img {
  border: none
}

:focus {
  outline: none;
}

a, p a {
  text-decoration: underline;
  color: black;
}

p {
  margin-top: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 42px;
  line-height: 0.9;
  color: #666666;
  text-align: left;
  margin-bottom: 13px;
}

h2 {
  font-size: 15px;
  color: #666666;
  text-align: left;
  border-bottom: 1px solid #A3A3A3;
  margin-bottom: 7px;
  padding-bottom: 12px;
}

h3 {
  font-size: 18px;
  line-height: 0.9;
  color: #575757;
  text-align: left;
  margin-bottom: 6px;
  padding-bottom: 5px;
}

footer {
  height: 45px;
  width: 100%;
  background: black;
  bottom: 0;
  background: -webkit-gradient( linear, left top, left bottom, from(#666), to(#222));
  background: -moz-linear-gradient(top, #666, #222); 
  box-shadow: 0px -5px 5px rgba(0,0,0,0.4);
  clear: both; /* Muti-column fix.*/
}

#site_title {
  position: relative;
  float: left;
  left: 0.5em;
  text-decoration: none;
}

#site_title h1 {
  color: white;
  margin-bottom: 0;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -80px;
}

#copyright {
  float: right;
  margin: 1em;
  color: #666666;
}

nav {
  float: left;
  margin: 1em;

}

nav ul li {
  float: left;
  margin-left: 16px;
}

nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  display: block;
  background-color: transparent;
  text-decoration: none;
}

nav ul li a:hover {
  color: #999;
}

.button {
  width: 66px;
  height: 13px;
  position: relative;
  margin-top: 12px;
  padding: 9px;
  background-color: black;
  display: inline-block;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 12px/100% Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: #333333;
}

.button:active {
  position: relative;
  top: 1px;
}

.search_results {
  float: left;
  width: 200px;
  padding: 15px 5px;
}

.local_google_ads {
  float: left;
  width: 200px;
  padding: 15px 5px;
}

.history_results {
  float: left;
  width: 150px;
  padding: 15px 5px;
}

.results li {
  width: 97%;
  background: #e1e1e1;
  border-radius: 4px;
  margin: 5px 2px;
  padding: 4px;
}

.results li a {
  display: block;
  text-decoration: none;
}

.results li:hover {
  background-color: #f0f0f0;
  color: black;
}

.history {
  float: left;
  width: 274px;
  position: relative;
  background: transparent;
  padding: 15px 0 15px 15px;
  margin-bottom: 10px;
}

.book {
  float: left;
  width: 600px;
  padding: 15px 0 0 10px;
}

.tabs { 
  list-style:none; 
  margin:0 !important; 
  padding:0;
  height:30px;
}

.tabs li { 
  float:left;	 
  text-indent:0;
  padding:0;
  margin:0 !important;
  list-style-image:none !important; 
}

.tabs a { 
  background: url("/images/tabs.png") no-repeat -652px 0;
  font-size:11px;
  display:block;
  height: 30px;  
  line-height:30px;
  width: 111px;
  text-align:center;	
  text-decoration:none;
  color:#000;
  padding:0px;
  margin:0px;	
  position:relative;
  top:1px;
}

.tabs a:active {
  outline:none;		
}

.tabs a:hover {
  background-position: -652px -31px;	
  color:#fff;	
}

.tabs .current, .tabs .current:hover, .tabs li.current a {
  background-position: -652px -62px;		
  cursor:default !important; 
  color:#000 !important;
}

.tabs .w1 			{ background-position: -519px 0; width:134px; }
.tabs .w1:hover 	{ background-position: -519px -31px; }
.tabs .w1.current { background-position: -519px -62px; }

.tabs .w2 			{ background-position: -366px -0px; width:154px; }
.tabs .w2:hover 	{ background-position: -366px -31px; }
.tabs .w2.current { background-position: -366px -62px; }

.tabs .w3 			{ background-position: -193px -0px; width:174px; }
.tabs .w3:hover 	{ background-position: -193px -31px; }
.tabs .w3.current { background-position: -193px -62px; }

.tabs .w4 			{ background-position: -0px -0px; width:194px; }
.tabs .w4:hover 	{ background-position: -0px -31px; }
.tabs .w4.current { background-position: -0px -62px; }

.panes > div {
  display: none;
  border: 1px solid #999;
}

#bookinfo {
}

#detail_tab {
}

#reviews_tab {
}

#reviews_iframe {
  height: 40em;
  width: 100%;
}

span.author {
  color: #004b91;
}

#author_tab {
}

#author_data {
}

#author_data .results {
  padding: 0 0 10px 5px;
}

#history_data .results {
  padding: 0 0 10px 5px;
}

.clearfooter{
  clear: both;
  height: 35px;
}

.search {
  float: left;
  padding-left: 15em;
  padding-top: 7px;
}

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
}
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  display: inline-block;
}
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on,
.form-search .input-append .add-on,
.form-inline .input-prepend .add-on {
  vertical-align: middle;
}
.form-search .radio,
.form-inline .radio,
.form-search .checkbox,
.form-inline .checkbox {
  margin-bottom: 0;
  vertical-align: middle;
}

.input-medium {
  width: 150px;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active, .btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.modal {
  background-color: #fff;
  display: none;
  width: 450px;
  padding: 15px;
  text-align: left;
  border: 2px solid #333;

  opacity: 0.9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 50px #ccc;
  -webkit-box-shadow: 0 0 50px #ccc;
}

.modal p {
  margin-top: 1em;
}

#more {
  padding: 0 0 15px 15px;
  display: none;
}

.clear_history {
  padding: 0 0 15px 15px;
}

.clear {
  clear: both;
}

.book_suggestions {
  padding: 0 10px 15px 10px;
  float: right;
  width: 27%;
}

.book_description {
  padding: 0 10px 15px 10px;
  width: 67%;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.padding_tlbr {
  padding: 15px 10px;
}

.amazon_button {
  padding: 15px 0;
}

#disqus_thread {
  padding: 15px 0px;
  width: 100%;
  float: left;
}

#dsq-sort-select {
  padding: 0;
  width: auto;
}
